/* Titulos */
.titulo-form {
    font-size: 27.5px;
    margin-bottom: .75em;
}

/* Subtitulos */
.subtitulo-form:not(:first-of-type) {
    margin-top: 50px;
}
.subtitulo-form-2:not(:first-of-type) {
    margin-top: 25px;
    font-weight: bolder;
}

/* Fila */
.fila-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.fila-form:not(:last-of-type) {
    margin-bottom: 12.5px;
}
.fila-form > * {
    width: 100%;
}
.fila-form > *:not(:last-child) {
    margin-right: 12.5px;
}

/* Campo */
/* Icono */
.fila-form i {
    margin-right: 5px;
}
/* Titulo */
.fila-form label {
    margin: 0px;
}

/* Input numerico sin flechitas feas */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Textarea */
.fila-form textarea {
    min-height: 100px;
    max-height: 250px;
}

/* Botones */
.btns-form {
    margin-top: 2.5rem;
    text-align: right;
}

/* Formularios de resultados */
.form-resultados {
    width: 100%;
}

/* Submenu */
.submenu-resultados {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
    font-size: 22.5px;
}

/* Tabla de resultados */
.tb-resultados {
    width: 100%;
    text-align: center;
}
.tb-resultados tr:first-of-type th {
    background: var(--c-plantilla);
    color: white;
}
.tb-resultados th:first-of-type, .tb-resultados .columna-corta { width: 25px; }
.tb-resultados th, .tb-resultados td {
    padding: 2.5px;
    border: solid var(--c-plantilla) 1px;
}
.tb-resultados img {
    max-width: 150px;
    max-height: 150px;
}
.tb-resultados tr:nth-child(odd) {
    background: rgba(0,0,0,0.1);
}

/* Sin resultados */
.sin-resultados {
    font-size: 25px;
    text-align: center;
    padding: 50px 0px;
    color: grey;
    font-size: 50px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .fila-form {
        flex-direction: column;
    }
    .fila-form {
        margin-bottom: 0px !important;
    }
    .fila-form > * {
        margin-bottom: 12.5px;
    }
}