/* Tamaños */
.form-corto {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
}

/* Titulos */
.titulo-form {
    font-size: 27.5px;
    margin-bottom: .75em;
}

/* Subtitulos */
.subtitulo-form {
    font-size: 22.5px;
}
.subtitulo-form:not(:first-of-type) {
    margin-top: 50px;
}
.subtitulo-form-2:not(:first-of-type) {
    margin-top: 25px;
    font-weight: bolder;
}

/* Fila */
.fila-form {
    display: -webkit-flex; display: -ms-flexbox; display: flex;
    width: 100%;
}
.fila-form:not(:last-of-type) {
    margin-bottom: 12.5px;
}
.fila-form > * {
    width: 100%;
}
.fila-form > *:not(:last-child) {
    margin-right: 12.5px;
}

/* Campo */
/* Icono */
.fila-form i {
    margin-right: 5px;
}
/* Titulo */
.fila-form label {
    margin: 0px;
}

/* Textarea */
.fila-form textarea {
    min-height: 100px;
    max-height: 250px;
}

/* Lista de elementos */
.lista-elementos {
    max-height: 250px;
    overflow: auto;
    margin-bottom: 12.5px;
}
.item-check {
    box-sizing: border-box;
    width: 100%;
    padding: 7.5px 12.5px;
    box-shadow: 0px 0px 2.5px black;
    cursor: pointer;
    margin-bottom: 12.5px !important;
    border: solid transparent 2.5px;
}
.item-check input { margin-right: 5px; }
.item-check:hover {
    border: solid var(--c-plantilla) 2.5px;
    box-shadow: 0px 0px 1.5px var(--c-plantilla);
}
.item-check.activa {
    border: solid var(--c-plantilla) 2.5px;
    box-shadow: 0px 0px 1.5px var(--c-plantilla);
}

/* Boton de actualizar imagen */
.btn-actualizar-img {
    position: relative;
    display: -webkit-flex; display: -ms-flexbox; display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 250px;
    margin: 0px auto;
    aspect-ratio: 1 / 1;
    border: solid var(--c-plantilla) 2px;
    cursor: pointer;
}
.btn-actualizar-img::before {
    position: absolute;
    left: 0px;
    top: 0px;
    display: -webkit-flex; display: -ms-flexbox; display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    content: '\f03e';
    font-size: 50px;
    color: grey;
    /* display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; */
    /* font-weight: 900; */
}
.btn-actualizar-img:hover::before {
    z-index: 1;
    color: var(--c-l-t-c-plantilla);
    background: var(--t-c-plantilla);
}
.btn-actualizar-img [type="file"] {
    position: absolute;
    max-width: 100%;
    opacity: 0;
}
.btn-actualizar-img img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

/* Botones */
.btns-form {
    margin-top: 2.5rem;
    text-align: right;
}

/* Formularios de resultados */
.form-registros {
    width: 100%;
}

/* Submenu */
.submenu-registros {
    display: -webkit-flex; display: -ms-flexbox; display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
    font-size: 22.5px;
}

/* Tabla de resultados */
.tb-registros {
    width: 100%;
    text-align: center;
}
.tb-registros tr:first-of-type th {
    background: var(--c-plantilla);
    color: white;
}
.tb-registros tr:first-of-type th:not(:last-child) {
    border-right: solid var(--c-l-plantilla) 1px;
}
.tb-registros th:first-of-type, .tb-registros .columna-corta { width: 25px; }
.tb-registros th, .tb-registros td {
    padding: 2.5px;
    border: solid var(--c-plantilla) 1px;
}
.tb-registros tr:nth-child(odd) {
    background: rgba(0,0,0,0.1);
}

/* Sin resultados */
.sin-resultados {
    font-size: 25px;
    text-align: center;
    padding: 50px 0px;
    color: grey;
    font-size: 50px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .fila-form {
        flex-direction: column;
    }
    .fila-form {
        margin-bottom: 0px !important;
    }
    .fila-form > * {
        margin-right: 0px !important;
        margin-bottom: 12.5px !important;
    }
}