/* Variables */
:root {

    /* Colores de fondo, letra y transparencias */
    /* Color 1 */
    --c-1: rgb(148, 2, 2);
    --c-l-c-1: white;
    /* Transparencia */
    --t-c-1: rgba(148, 2, 2, .5);
    --c-l-t-c-1: white;

    /* Plantilla */
    --c-plantilla: var(--c-1);
    --c-l-plantilla: var(--c-l-c-1);
    /* Transparencia */
    --t-c-plantilla: var(--t-c-1);
    --c-l-t-c-plantilla: var(--c-l-t-c-1);
}

/* Menú superior */
.menu-s {
    position: sticky;
    top: 0px;
    left: 0px;
    background: white;
    color: var(--c-plantilla);
    padding: .75% 0px;
    box-shadow: 0px 0px 5px black;
    z-index: 1;
}
/* Generales */
/* Contenido del menú superior */
.contenido-menu-s > * {
    display: -webkit-flex; display: -ms-flexbox; display: flex;
    align-items: center;
}
/* Iconos */
.cont-icono-menu-s {
    display: none;
}
.icono-menu-s {
    font-size: 25px;
    color: var(--c-plantilla);
    cursor: pointer;
}
/* Listas */
.lista-menu-s {
    position: relative;
    display: -webkit-flex; display: -ms-flexbox; display: flex;
}
/* Titulo */
/* Opciones */
.lista-menu-s:hover .opciones-lista-menu-s {
    display: -webkit-flex; display: -ms-flexbox; display: flex;
}
.opcion-menu-s, .opcion-menu-s:hover {
    white-space: nowrap;
    margin: 0px 5%;
    color: var(--c-plantilla);
}
.opciones-lista-menu-s {
    position: absolute;
    display: none;
    top: 100%;
    right: 0px;
    min-width: 100%;
    flex-direction: column;
    background: var(--c-plantilla);
}
.opciones-lista-menu-s .opcion-menu-s {
    color: var(--c-l-plantilla);
    text-align: center;
    padding: 7.5px 25px;
    margin: 0px;
}
/* Lados */
.izquierda-menu-s, .derecha-menu-s {
    /* width: 15%; */
}
/* Izquierda */
.izquierda-menu-s {

}
/* Logotipo */
.logotipo-menu-s {
    width: 100%;
    max-width: 150px;
}
/* Centro */
.centro-menu-s {
    justify-content: center;
    text-align: center;
    flex: 1;
}
/* Derecha */
.derecha-menu-s {
    justify-content: flex-end;
    text-align: right;
}

/* Alertas */
.cont-alerta {
    position: fixed;
    display: -webkit-flex; display: -ms-flexbox; display: flex;
    justify-content: flex-end;
    top: 12.5%;
    left: 0px;
    width: 100%;
    padding: 0px 2.5%;
    z-index: 1;
}
.alerta {
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    margin: 0px;
}
.alert i {
    margin-right: 7.5px;
}

/* Contenido */
.contenido {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Pie de pagina */
.pie-pagina {
    background: var(--c-plantilla);
    color: var(--c-l-plantilla);
}

/* Botones flotantes */
/* Whatsapp */
.btn-whatsapp {

}
/* Compras */
.btn-compras {
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 17.5px;
    font-size: 25px;
    box-shadow: 0px 0px 2.5px black;
    cursor: pointer;
    background: white;
}
.btn-compras .n-compras {
    position: absolute;
    top: -10px;
    left: -10px;
    background: var(--c-plantilla);
    color: var(--c-l-plantilla);
    width: 30px;
    text-align: center;
    aspect-ratio: 1/1;
    border: solid var(--c-plantilla) 1px;
}
.btn-compras:hover {
    background: var(--c-plantilla);
    color: var(--c-l-plantilla);
    box-shadow: 0px 0px 2.5px var(--c-plantilla);
}
.btn-compras:hover .n-compras {
    background: var(--c-l-plantilla);
    color: var(--c-plantilla);
}

/* Responsive */
@media only screen and (max-width: 768px) {

    /* Menú superior */
    /* Generales */
    /* Iconos */
    .cont-icono-menu-s {
        display: block;
    }
    /* Izquierda */
    .izquierda-menu-s {
        justify-content: center;
        text-align: center;
    }
    /* Centro */
    .centro-menu-s {
        position: fixed;
        right: 100%;
        top: 0px;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: space-evenly;
        background: var(--c-plantilla);
        transition: right .5s;
    }
    .centro-menu-s-visible {
        right: 0%;
    }
    .centro-menu-s .opcion-menu-s, .centro-menu-s .icono-menu-s {
        color: var(--c-l-plantilla);
    }
}