/* Cursor pointer */
.c-pointer {
    cursor: pointer;
}

/* Miniaturas de imágenes */
.cont-min-img {
    display: flex;
    text-align: center;
    margin: 0px auto;
    width: 100px;
    min-width: 100px;
}
.cont-min-img img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

/* Lista de compras */
.producto-lista-productos {
    display: -webkit-flex; display: -ms-flexbox; display: flex;
    align-items: center;
    margin-bottom: 12.5px;
    padding-bottom: 12.5px;
    border-bottom: solid rgba(0,0,0,.1) 1px;
}
.producto-lista-productos .cont-min-img {
    margin: 0px 12.5px;
}

/* Contenido desplegable */
.contenido-desplegable {
    overflow: hidden;
    max-height: 0px;
    transition: .5s;
}
.contenido-desplegable.visible {
    max-height: 1000px;
}