/* Miniaturas de imágenes */
.cont-min-img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
}
.cont-min-img img {
    max-width: 100%;
    max-height: 100%;
}

/* Lista de compras */
.producto-lista-productos {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 12.5px;
    padding-bottom: 12.5px;
    border-bottom: solid rgba(0,0,0,.1) 1px;
}
.producto-lista-productos .cont-min-img {
    margin: 0px 12.5px;
}

/* Contenido desplegable */
.contenido-desplegable {
    overflow: hidden;
    max-height: 0px;
    transition: .5s;
}
.contenido-desplegable.visible {
    max-height: 1000px;
}

/* Boton de actualizar imagen */
.btn-actualizar-img {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.btn-actualizar-img::before {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    display: -webkit-flex; display: -ms-flexbox; display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    content: '\f03e';
    font-size: 50px;
    color: grey;
    /* display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; */
    /* font-weight: 900; */
}
.btn-actualizar-img:hover::before {
    z-index: 1;
    color: var(--c-l-t-c-plantilla);
    background: var(--t-c-plantilla);
}
.btn-actualizar-img [type="file"] {
    position: absolute;
    opacity: 0;
}
.btn-actualizar-img img {
    max-width: 100%;
    max-height: 100%;
}